
root { 
    display: block;
}
.main  {
    width: 100%;
}
.header {
    border-left:   10px solid #33cc00;
    background-color: #1B2D43;
    height: 50px;
    color: cornsilk;
    text-transform: uppercase;
    line-height: 45px;
    font-family: Arial,sans-serif;
    margin-left: 0px;
}

.main { 
    background-color: #ffffff;
}

.footer { 
    background: tomato;
}

.main .item img {
    width: 100%;
}
.titleFilm{
    margin-left: 0px;
    border-left:   10px solid #33cc00;
    background-color: #1B2D43;
    height: 50px;
    color: cornsilk;
    text-transform: uppercase;
    line-height: 45px;
    font-family: Arial,sans-serif;
}

//phim le
.filters .dropdown {
    display: inline-block;
}
collapsing, .dropdown, .dropup {
    position: relative;
}

.list-film .item{
    margin-top: 40px;

}

.status {
    position: absolute;
    top: 15px;
    left: 2px;
    background-color: #45CCFF;
    color: #fff;
    height: 29px;
    line-height: 29px;
    padding: 0 8px;
    text-transform: uppercase;
    font-weight: 120;
    z-index: 5;
    width: 40%;
    
}

.name {
    font-weight: 700;
    padding: 3px 0;
    color: #28374e;
    text-transform: capitalize;
    display: block;
    font-size: 14px;
    text-shadow: 0 0 1px #ddd;
}
.item dfn{
    color: #5f6e85;
    display: block;
    font-size: 14px;
    text-shadow: 0 0 1px #ddd;
    font-style: italic;
    font-family: Arial,sans-serif;
}
//nut play
span.roll {
    opacity: 1;
    -o-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -webkit-transition: -webkit-transform 1s;
    background:url("img/buttomPlay.png") center center no-repeat #000;
    cursor: pointer;
    height: 50px;
    width: 30px;
    position: absolute;
    z-index: 10;
    opacity: 0;
}
 
span.roll:hover {
    opacity: .7;
    -o-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -webkit-transition: -webkit-transform 1s;
    -webkit-box-shadow: 0px 0px 4px #000;
    -moz-box-shadow: 0px 0px 4px #000;
    box-shadow: 0px 0px 4px #000;
}
//Phan trang
span .page_nav  {
    margin-top: 15px;
    //overflow: hidden;
    clear: both;
    display: block;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    background: #DDDEE0;
    
    
}
span .page_nav .current,  span.page_nav .item a:hover{
    background-color: #45CCFF !important;
    
}
span .page_nav .current,span.page_nav .item a{
    background: #1a2b44;
    padding: 7px 14px;
    font-weight: 700;
    color: #ffffff;
    display: inline-block;
    margin-left: 2px;
    line-height: 1.4;
    text-decoration: none;
    width: 5%;
    text-align: center;
}
.desc{
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
}
//Trang chi tiet
.information{
    color: #99cc00;
    font-size: 150%;
}
//Xem Phim
.listOfFilm .ul .li, .a{
    list-style: none;
    line-height: 1.4;
    color: #ffffff;
    background: #00cc00 !important;
}
.listOfFilm li:hover, .active{
    background: #ff9900 !important;
    list-style: none ;
    color:#ffffff;
}