body{
    background: #fff;
}
.status {
    position: absolute;
    top: 15px;
    left: 2px;
    background-color: #45CCFF;
    color: #fff;
    height: 29px;
    line-height: 29px;
    padding: 0 8px;
    text-transform: uppercase;
    font-weight: 120;
    z-index: 5;
    width: 40%;
    
}
.name {
    font-weight: 700;
    padding: 3px 0;
    color: #28374e;
    text-transform: capitalize;
    display: block;
    font-size: 14px;
    text-shadow: 0 0 1px #ddd;
}
.item dfn{
    color: #5f6e85;
    display: block;
    font-size: 14px;
    text-shadow: 0 0 1px #ddd;
    font-style: italic;
    font-family: Arial,sans-serif;
}
.title{
    height: 40px;
    background: #245580;
    color: #fff;
}
.title a{
    color: #fff;
    line-height: 40px;
    font-size: 15px;
    margin-left: 10px;
}
.form{
    margin: 10px;
}
.item{
    margin: 10px 0;
}
.page-header{
    margin-top: 0px;
}
.menu{
    margin-bottom: 10px;
}
.footer{
    height: 150px;
    background: #455868;
    color: #fff;
}
.footer p{
    margin: 30px 0;
    color: #fff;
}
.connect{
    margin: 30px 0;
}
.connect ul{
    margin-left: -40px;
}
.connect ul li{
    list-style: none;
    
}
.connect ul li a{
    color: #fff;
    text-decoration: none;
}
.connect ul li a:hover{
    color: #269abc;
}

